.form {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.login-form {
  background-color: rgb(246 242 241);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: #a3a36d 1px dashed;
}

.sumbit {
  background-color: rgb(246 242 241);
  border: none;
  color: #a3a36d;
  border: 1px solid #a3a36d;
  font-weight: bold;
  padding: 1em 5.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: "Times New Roman", Times, serif;

  box-shadow: 0 0.7em 2em 0 rgba(188, 221, 127, 0.4);

  border-radius: 0.3em;
  margin: 2em 1.3em 1em 1.3em;
}
h2 {
  color: #a3a36d;
  font-family: "Times New Roman", Times, serif;
}

.sumbit:hover {
  background-color: #ccccb9;
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 2000ms;
}

.login,
.password {
  background-color: #f6f6f6;
  /* border: none; */
  color: #a3a36d;
  padding: 1em 2.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin: 0.3em;
  width: 85%;
  border: 0.3em solid #a3a36d;
  font-family: "Times New Roman", Times, serif;
  border-radius: 0.3em;
}

.login,
.password:focus {
  background-color: #fcfce1;
}

@media screen and (max-width: 769px) {
  .login,
  .password {
    width: 50%;
  }
}
@media screen and (max-width: 430px) {
  .login-form {
    width: 100%;
  }
  .sumbit {
    width: 7em;
    height: 3em;
    padding: 0;
  }
  .login,
  .password {
    width: 50%;
  }
}
